* {
  box-sizing: border-box;
}

body {
  font-family: "SF Pro Display Regular", sans-serif;
  background: #e5e5e5;
}
.header {
  padding-top: 6px;
  padding-bottom: 6px;
  background-color: #0050b3;
  margin-bottom: 16px;
}
.header-block {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-input {
  font-size: 14px;
  line-height: 22px;
  padding: 5px 30px 5px 12px;
  width: 336px;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: right 12px center;
}

.navigation {
  display: flex;
  align-items: center;
}
.navigation-panel {
  margin-left: 12px;
  display: flex;
  align-items: center;
}

.navigation-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
  margin-left: 12px;
}

.navigation-link::before {
  display: inline-block;
  content: "";
  width: 1px;
  height: 16px;
  background: #003a8c;
  margin-right: 12px;
}
.navigation-link:last-child::after {
  content: "";
  width: 1px;
  height: 16px;
  background: #003a8c;
  margin-left: 12px;
}
.user {
  display: flex;
  align-items: center;
}
.user-avatar {
  margin-right: 8px;
}

.user-name {
  font-size: 14px;
  line-height: 22px;
  color: #ffffff;
}

.icons-panel {
  display: flex;
  align-items: center;
}
.icon-link {
  margin-left: 17px;
  display: flex;
  align-items: center;
}
.header-icon {
  fill: #002766;
}
.header-icon:hover {
  fill: #ffffff;
}
.icon-link:last-child::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 1px;
  height: 16px;
  background: #003a8c;
  margin-right: 12px;
}
.container {
  display: flex;
  max-width: 1200px;
  margin: auto;
}

.menu-sidebar {
  max-width: 192px;
}
.menu-sidebar .user {
  padding-left: 10px;
}
.menu-sidebar .user-avatar {
  width: 24px;
  height: 24px;
}

.menu-sidebar .user-name {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  font-variant: normal;
  color: #262626;
  margin-right: 12px;
}

.nav-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12px;
  margin-bottom: 24px;
}

.nav-link {
  padding: 4px 8px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  text-decoration: none;
  color: #595959;
  line-height: 22px;
  font-size: 14px;
  font-weight: normal;
}
.nav-link.active {
  background: #ffffff;
  color: #262626;
}
.nav-text {
  padding-left: 8px;
}
.nav-title {
  padding-left: 10px;
  color: #262626;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 4px;
  margin-top: 0;
}
.main-feed {
  max-width: 588px;
  flex-grow: 1;
}
.create-post {
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  overflow: hidden;
  margin-left: 18px;
}

.create-post-title {
  margin: 0;
  color: #595959;
  font-size: 14px;
  line-height: 22px;
}

.create-post-header {
  padding: 9px 16px;
  background: #f5f5f5;
}
.create-post-body {
  padding: 16px 16px 16px 24px;
  display: flex;
  align-items: flex-start;
}

.create-post-input {
  padding-top: 8px;
  width: 100%;
  color: #8c8c8c;
}
.create-post-footer {
  display: flex;
  align-items: center;
  padding: 0 16px 16px 16px;
  flex-wrap: wrap;
}
.create-post-footer::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #e8e8e8;
  margin-bottom: 16px;
}
.tag {
  background: #f5f5f5;
  border-radius: 48px;
  border: none;
  padding: 9px 12px;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.tag-icon {
  margin-right: 8px;
}

.button-text {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: #595959;
  margin-left: 8px;
}
